<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Giới thiệu môn học "IoT và ứng dụng"</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		.container {
			text-align: center;
		}
		table {
			margin: 0 auto;
		}
		table, th, td {
			border: 1px solid #000;
			border-collapse: collapse;
		}
		th, td {
			padding: 10px 50px ;
		}
	</style>
</head>
<body>
<div class="container">
	<h1>Môn học "IoT và ứng dụng"</h1>
	<table>
		<tr>
			<th>Họ và tên</th>
			<td>Đào Minh Hoàng</td>
		</tr>
		<tr>
			<th>Mã SV</th>
			<td>B20DCAT067</td>
		</tr>
		<tr>
			<th>Lớp</th>
			<td>D20CQAT03B</td>
		</tr>
		<tr>
			<th>Nhóm</th>
			<td>7</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>zminhhoangdao@gmail.com</td>
		</tr>
		<tr>
			<th>SĐT</th>
			<td>0392147631</td>
		</tr>
	</table>
	<p>Trong môn học "IoT và ứng dụng," chúng ta sẽ khám phá thế giới của Internet of Things (IoT) và cách ứng dụng nó trong thực tế. Chúng ta sẽ tìm hiểu về cách kết nối các thiết bị thông minh, thu thập dữ liệu, và sử dụng nó để tạo ra các ứng dụng thông minh và hiệu quả. </p>
	<p>Chúng ta hãy cùng nhau khám phá và học tập trong môn học thú vị này!</p>
</div>
</body>
</html>
